
.mainContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-inline: 70px;
    padding-top: 30px;
   
}
.h1{
    display: flex;
    justify-content: center;
}
.select{
    height: 40px;
    width: 120px;
    margin-left: 20px;
}

.Button{
    margin-top: 30px;
}