.container{
    display: flex;
    flex: 1;

}
.divAvatar{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.h4{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}