.container{
    display: flex;
    flex: 1;
    justify-content: center;
}
.divAvatar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.h4{
    display: flex;
    justify-content: center;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}