
.login{

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 350px;
    background-image: url('pokemonBackground.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}
.bolded{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color:black;
}


.form{
    position: relative;
    right: 1px;
    
}

.button{
    margin-top: 20px;
}